.PacketList {
  $PacketList-height: 800px;
  $PacketList-header-height: 30px;

  display: block;
  width: 100%;
  height: $PacketList-height;
  max-height: $PacketList-height;
  text-align: left;
  outline: solid 1px black;

  thead {
    display: block;
    height: $PacketList-header-height;

    & > tr {
      & > td {
        outline: solid black 1px;
      }
    }
  }

  tbody {
    display: block;
    height: $PacketList-height - $PacketList-header-height;
    overflow-y: scroll;
    overflow-x: hidden;
    & > tr {
      & > td {
        outline: solid lightgray 1px;
      }
    }
  }

  td {
    width: 150px;
  }

  .PacketListHeader {
    background-color: lightblue;
  }

  .PacketListItem:hover {
    background-color: lightyellow;
  }

}
