.PacketList {
  $PacketList-height: 800px;
  $PacketList-header-height: 30px;

  display: block;
  width: 100%;
  height: $PacketList-height;
  max-height: $PacketList-height;
  text-align: left;
  border: solid 1px black;

  thead {
    height: $PacketList-header-height;
  }

  tbody {
    display: block;
    height: $PacketList-height - $PacketList-header-height;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  td {
    width: 200px;
  }

  .PacketListHeader {
    background-color: lightblue;
  }

  .PacketListItem:hover {
    background-color: lightyellow;
  }

}
